INPUT.fancyUpload {
    cursor: pointer;
    background-color: #F4F4F4; border: 1px dashed #AAA;
    font: normal 12px / 14px Arial, Verdana, Helvetica, sans-serif; color: #000;
    width: 175px; padding: 5px;
}